<div>
	<div class="callout fade in callout-info">
		<div class="header">
			<i class="icon-warning"></i>
			<h3>
				Tests
			</h3>
			<p>
				Attention. tets à faire uniquement par un admin
			</p>
			<div class="loading-indicator-container">
				<button type="submit" data-request="onWconfigTest1" data-request-data="redirect:0" data-load-indicator="Test en cours" class="btn btn-primary">
					TEST 1
				</button>
				<button type="submit" data-request="onWconfigTest2" data-request-data="redirect:0" data-load-indicator="Test en cours" class="btn btn-primary">
					TEST 2
				</button>
				<button type="submit" data-request="onWconfigTest3" data-request-data="redirect:0" data-load-indicator="Test en cours" class="btn btn-primary">
					TEST 3
				</button>
				<button type="submit" data-request="onWconfigTest4" data-request-data="redirect:0" data-load-indicator="Test en cours" class="btn btn-primary">
					TEST 4
				</button>
				<button type="submit" data-request="onWconfigTest5" data-request-data="redirect:0" data-load-indicator="Test en cours" class="btn btn-primary">
					TEST 5
				</button>
				<button type="submit" data-request="onWconfigTest6" data-request-data="redirect:0" data-load-indicator="Test en cours" class="btn btn-primary">
					TEST 6
				</button>
				<button type="submit" data-request="onWconfigTest7" data-request-data="redirect:0" data-load-indicator="Test en cours" class="btn btn-primary">
					TEST 7
				</button>
				<button type="submit" data-request="onWconfigTest8" data-request-data="redirect:0" data-load-indicator="Test en cours" class="btn btn-primary">
					TEST 8
				</button>
				<button type="submit" data-request="onWconfigTest9" data-request-data="redirect:0" data-load-indicator="Test en cours" class="btn btn-primary">
					TEST 9
				</button>
			</div>
		</div>
	</div>
	<div id="wconfigtestresults" class="m-t p-a"></div>
</div>