<?php
    $fieldOptions = $field->options();
    $useSearch = $field->getConfig('showSearch', true);
    $emptyOption = $field->getConfig('emptyOption', $field->placeholder);
?>
<div class="">
    <div data-control="">
        <div class="scoreboard-item title-value">
            <h4><?= e(trans('waka.utils::lang.workflow.state')) ?> : <b><?=$value?></b></h4>
            <?php if($com) : ?><p class="description"><?= $com ?></p><?php endif ?>
        </div>

        <div class="">
            <!-- Dropdown -->
            <div class="m-t">
                <?php if ($this->previewMode || $field->readOnly): ?>
                <a class="btn btn-default oc-icon-lock" href="#" disabled
                   role="button"><?=e(trans('waka.utils::lang.workflow.state_change_forbidden'))?></a>
                <?php else: ?>
                <?php if ($emptyOption): ?>
                <div class="radio custom-radio">
                    <input checked="checked" name="<?= $field->getName() ?>" value="" type="radio" id="lw_0" />
                    <label for="lw_0"><?=lang('waka.utils::lang.workflow.no_change_state') ?></label>
                </div>
                <?php endif ?>
                <?php 
                $i = 1;
                foreach ($fieldOptions as $key => $option): ?>
                <div class="radio custom-radio">
                    <input name="<?= $field->getName() ?>" value="<?= e($key) ?>" type="radio" id="lw_<?=$i?>" />
                    <label for="lw_<?=$i?>"><?= e(trans($option['button'])) ?></label>
                </div>
                <?php 
                 $i++;
                 endforeach
                ?>
                <?php endif ?>
            </div>
        </div>
    </div>
</div>
