<h3>Les attributs disponibles</h3>
<p class="help-block">Liste des attributs et des relations disponibles.</p>
<p class="help-block">Les valeurs affiché sont celles du modèle de test.</p>
<p class="help-block"><b><?= $text_info ?></b></p>
<h3>Attributs du modèle</h3>
<div class="list">
    <?php foreach($attributesArray as $keyCategorie=>$arrayCategories) : ?>
    <?php if(count($arrayCategories)>1) : ?>
    <div class="callout fade in callout-info no-subheader">
        <div class="header">
            <i class="icon-info"></i>
            <h3><?=$keyCategorie?></h3>
        </div>
        <div class="content">
            <?php foreach($arrayCategories as $key=>$value) : ?>
            <?php if(!in_array($key, $hidden_fields)) : ?>
            <button type="button" class="btn btn-xs btn-default" data-clipboard-text="${<?=$key?>}">
                <?=$key?> = <?=strip_tags(str_limit($value, 40))?>
            </button>
            <?php endif ?>
            <?php endforeach ?>
        </div>
    </div>
    <?php endif ?>
    <?php endforeach ?>
</div>
<h3>Images du modèle</h3>
<?php foreach($IMGSArray as $value) : ?>
<div class="list">
    <button type="button" class="btn btn-xs btn-default" data-clipboard-text="${IMG.<?=$value['code']?>.path}">
        Adresse image <?=$value['code']?>
    </button>
</div>
<?php endforeach ?>
<h3>fonctions du modèle</h3>
<p class="help-block">Pour chaque fonction vou devez impérativement mettre une balise ouvrante et fermente</p>
<?php foreach($FNCSArray as $key=>$fncs) { ?>
<h4><?=$key?></h4>
<div class="list">
    <button type="button" class="btn btn-md btn-default" data-clipboard-text="${FNC.<?=$key?>}">
        || -- Code balise ouvrante <?=$key?>
    </button>

    <?php foreach($fncs as $subkey=>$value) { ?>
    <button type="button" class="btn btn-xs" data-clipboard-text="${<?=$key?>.<?=$subkey?>}">
        <?=$subkey?> => <?=strip_tags(str_limit($value, 40))?>
    </button>
    <?php } ?>

    <button type="button" class="btn btn-md btn-default" data-clipboard-text="${/FNC.<?=$key?>}">
        Code balise fermante -- ||<?=$key?>
    </button>

</div> <?php } ?>

<script type="text/javascript">
    $(document).ready(function () {
    new ClipboardJS('.btn');
});

</script>