<div class="callout fade in callout-info no-subheader">
    <div class="header">
        <i class="icon-info"></i>
        <h3><?= e(trans('waka.utils::lang.global.no_productor'))?></h3>
    </div>
    <div class="content">
        <?php if ($errors ?? false) : ?>
        <?= $this->makePartial('~/plugins/waka/utils/views/condition_errors_tt.htm', $errors) ?>
        <?php else : ?>
        <p><?= e(trans('waka.utils::lang.global.no_productor_com'))?></p>
        <?php endif  ?>
    </div>
</div>
