<?= Form::open() ?>
<div class="modal-header">
</div>
<div class="modal-body">
    <input type="hidden" name="relationConfig" value="<?= $relationConfig ?>" />
    <input type="hidden" name="manageId" value="<?= $manageId ?>" />
    <?php if ($this->fatalError): ?>
    <p class="flash-message static error"><?= $fatalError ?></p>
    <?php endif ?>

    <div class="form">
        <?= $this->reorderRender() ?>
    </div>

</div>

<div class="modal-footer">
    <button type="submit" data-request="onCloseReorder" data-request-data="redirect:0,relationConfig:'<?=$relationConfig?>', manageId:<?=$manageId?>"
            data-popup-load-indicator class="btn btn-primary">
        Terminer
    </button>
</div>
<?= Form::close() ?>
