<button type="submit"
        data-request="onSave"
        data-hotkey="ctrl+s, cmd+s"
        data-load-indicator="<?= e(trans('waka.utils::lang.global.save_indicator')) ?>"
        class="btn btn-primary">
    <?= e(trans('waka.utils::lang.global.save')) ?>
</button>
<button type="button"
        data-request="onSave"
        data-request-data="close:1"
        data-hotkey="ctrl+enter, cmd+enter"
        data-load-indicator="<?= e(trans('waka.utils::lang.global.save_indicator')) ?>"
        class="btn btn-default">
    <?= e(trans('waka.utils::lang.global.save_close')) ?>
</button>