<div class="dropdown <?php if($dropup) : ?>dropup<?php endif ?>">
    <a href="#"
       data-toggle="dropdown"
       class="btn btn-secondary <?=$databtn['icon'] ?? null?>"><?= e(trans($databtn['label'])) ?>
    </a>
    <ul class="dropdown-menu" style="<?php if($popupAction) :?>margin-left: 15px;<?php endif ?>"
        role="menu"
        data-dropdown-title="<?= e(trans($databtn['label'])) ?>">
        <?php foreach($databtn['btns'] as $subbtn) : ?>
        <?php $inlineExiste = $subbtn['ajaxInlineCaller'] ?? false?>
        <li role="presentation">
            <a href="javascript:;"
               role="menuitem"
               tabindex="-1"
               data-request-data="<?php if(!$isLot) :?>modelId:<?=$modelId?><?php endif ?>, modelClass:'<?=$modelClass?>'"
               <?php if($popupAction) : ?>
               data-request="<?=$subbtn['ajaxInlineCaller']?>"
               <?php else : ?>
               data-control="popup"
               data-handler="<?=$subbtn['ajaxCaller']?>"
               <?php endif ?>
               data-toggle="dropdown"><?= e(trans($subbtn['label'] ?? 'Inc'))?>
            </a>
        </li>
        <?php endforeach ?>

    </ul>
</div>
