aaaa<div style="align-items: flex-start; display:inline-block;margin-right:15px">
    <div class="dropdown dropup">
        <a href="#"
           data-toggle="dropdown"
           class="btn btn-secondary <?=$databtn['icon'] ?? null?>"><?= e(trans($databtn['label'])) ?>
        </a>
        <ul class="dropdown-menu <?php if(!$container) : ?>dropup<?php endif ?>"
            role="menu"
            data-dropdown-title="<?= e(trans('waka.utils::lang.production.production')) ?>">
            <?php foreach($databtn['btns'] as $subbtn) : ?>
            <?php $inlineExiste = $subbtn['ajaxInlineCaller'] ?? false;?>
            <?php if($container && !$inlineExiste) : ?>
            <!--On affiche pas le bouton -->
            <?php else : ?>
            <li role="presentation">
                <a href="javascript:;"
                   role="menuitem"
                   tabindex="-1"
                   data-request-data="<?php if(!$isLot) :?>modelId:<?=$modelId?><?php endif ?>, modelClass:'<?=$modelClass?>'"
                   <?php if($container) : ?>
                   data-request="<?=$subbtn['ajaxInlineCaller']?>"
                   <?php else : ?>
                   data-control="popup"
                   data-handler="<?=$subbtn['ajaxCaller']?>"
                   <?php endif ?>
                   data-toggle="dropdown"><?= e(trans($subbtn['label'] ?? 'Inc'))?>
                </a>
            </li>
            <?php endif ?>
            <?php endforeach ?>

        </ul>
    </div>
</div>
