<?php foreach ($transitions as $key => $trans): ?>
<button type="submit"
        data-request="onSave"
        data-hotkey="ctrl+s, cmd+s"
        data-request-data="change_state:'<?= e($trans['value']) ?>';refresh:1"
        <?php if ($trans['com']) : ?>data-request-confirm=" <?= e(trans($trans['com']))?>" <?php endif ?>
        data-load-indicator="<?= e(trans('waka.utils::lang.global.save_indicator')) ?>"
        class="btn btn-primary">
    <?= e($trans['label']) ?>
</button>
<?php endforeach ?>
