<?php if ($fncAttributs): ?>


<?php foreach($fncAttributs as $key=>$fnc) { ?>
<p class="help-block">Cliquez sur un attribut pour copier la valeur dans le presse papier</p>
<div style="overflow-y: auto; max-height:500px" class="w-attribut">
    <button type="button"
            class="btn btn-md btn-primary w-maque"
            style="width:100%"
            class="bg-a"
            data-clipboard-text="${FNC.<?=$key?>}">
        Code <b>ouvrant</b> la fonction : <b><?=$key?></b>
    </button>
    <button type="button"
            class="btn btn-xl btn-primary"
            style="width:100%"
            data-control="dragvalue"
            class="bg-a"
            data-clipboard-text="${/FNC.<?=$key?>}">
        Code <b>fermant</b> la fonction : <b><?=$key?></b>
    </button>
    <?php foreach($fnc as $subkey=>$value) { ?>
    <?php if (!is_countable($value)) : ?>
    <button type="button"
            class="btn btn-xs btn-default"
            style="width:100%"
            data-clipboard-text="<?=$subkey?>">
        <?= e(trans($value)); ?> <br> <span style="font-size:0.8em"><?=$subkey?></span>
    </button>
    <?php endif ?>
    <?php } ?>
</div>
</div>
<?php } ?>
<?php else: ?>
<div class="form-preview">
    <div>Il n' a pas de valeurs disponibles.</div>
</div>
<?php endif ?>
