<li
    id="<?= 'fnc'.$fnc->id ?>"
    data-fnc-id="<?= $fnc->id ?>"
    class="fnc-item <?= $fnc->hasFieldConfig() ? '' : 'no-form' ?>">
    <div>
        <div class="icons">
            <span class="icon"><i class="icon-calculator"></i></span>
            <span class="icon"><i class="<?= e($fnc->getFncIcon()) ?>"></i></span>
        </div>
        <a href="javascript:;" data-fncs-settings>
            <div class="m-t-0" style="position: absolute; right: 70px">Code: <b><?= $this->getCacheFncCode($fnc)?></b>
            </div>
            <div class="title m-t-0 m-l-0"><b><?= e($this->getCacheFncTitle($fnc)) ?></b></div>
            <div class="comment"><?= $this->getCacheFncText($fnc) ?></div>
        </a>
        <?php if(!$isRestrictedMode) : ?>
        <ul class="submenu">
            <li>
                <p>
                    <a href="javascript:;" data-fncs-delete>
                        <i class="icon-trash-o control-icon"></i>
                    </a>
                </p>
            </li>
            </li>
            <li>
                <p>
                    <a href="javascript:;" data-fncs-reorderup>
                        <i class="icon-chevron-up control-icon"></i>
                    </a>
                </p>
                
            </li>
            <li>
                <p>
                    <a href="javascript:;" data-fncs-reorderdown>
                        <i class="icon-chevron-down control-icon"></i>
                    </a>
                </p>
            </li>
            
        </ul>
        </ul>
        <?php endif ?>
    </div>

    <input
           type="hidden"
           name="fnc_data[<?= $fnc->id ?>]"
           value="<?= e(json_encode($this->getCacheFncData($fnc))) ?>" />
</li>
