<li
    id="<?= 'fnc'.$fnc->id ?>"
    data-fnc-id="<?= $fnc->id ?>"
    class="fnc-item <?= $fnc->hasFieldConfig() ? '' : 'no-form' ?>">
    <div>
        <div class="icons">
            <span class="icon"><i class="icon-bolt"></i></span>
            <span class="icon"><i class="<?= e($fnc->getFncIcon()) ?>"></i></span>
        </div>
        <a href="javascript:;" data-fncs-settings>
            <span class="title"><?= e($this->getCacheFncTitle($fnc)) ?></span>
            <div class="comment"><?= $this->getCacheFncText($fnc) ?></div>
        </a>
        <?php if(!$isRestrictedMode) : ?>
        <ul class="submenu">
            <li>
                <p>
                    <a href="javascript:;" data-fncs-delete>
                        <i class="icon-trash-o control-icon"></i>
                    </a>
                </p>
            </li>
        </ul>
        <?php endif ?>
    </div>

    <input
           type="hidden"
           name="fnc_data[<?= $fnc->id ?>]"
           value="<?= e(json_encode($this->getCacheFncData($fnc))) ?>" />
</li>
