<div class="title">Fonctions éditables</div>
<div class="fnc-set">
    <ol>
        <?php foreach ($fncs as $fnc): ?>
        <?= $this->makePartial('fnc', ['fnc' => $fnc]) ?>
        <?php endforeach ?>
    </ol>
    <?php if(!$isRestrictedMode) : ?>
    <a
       href="javascript:;"
       data-control="popup"
       data-handler="<?= $this->getEventHandler('onLoadCreateFncForm') ?>"
       class="menu-control">
        <i class="icon-plus"></i> Ajouter une fonction
    </a>
    <?php endif ?>
</div>

<?php if (isset($newFncId)): ?>
<script>
showFncSettings('<?= e($newFncId) ?>')
</script>
<?php endif ?>
