<?php if ($attributesArray): ?>
<div id="tempAc">
    <p>Ces variables sont disponibles :</p>
    <ul class="w-accordion">
        <?php foreach($attributesArray as $keyCategorie=>$arrayCategories) : ?>

        <?php if(count($arrayCategories['values'])>1) : ?>
        <li>
            <a class="w-ac-toggle bg-p" href=# style="<?php if($keyCategorie == 'fonctions'):?>background-color:orange<?php endif ?>"><span
                      class="oc-<?=$arrayCategories['icon']?>"><?=$keyCategorie?></span></a>
            <div
                 class="w-ac-inner w-ac-list">
                <?php foreach($arrayCategories['values'] as $key=>$value) : ?>
                <button type="button"
                        class="btn btn btn-default"
                        style="width:100%"
                        data-control="dragvalue"
                        data-text-value="<?=$key?>"
                        data-drag-click="true">
                    <?= e(trans($value)); ?><br><span style="font-size:0.8em"><?=$key?></span>
                </button>
                <?php endforeach ?>
            </div>
        </li>
        <?php endif ?>
        <?php endforeach ?>
    </ul>
</div>
<?php else: ?>
<div class="form-preview">
    <div>Il n' a pas de valeurs disponibles.</div>
</div>
<?php endif ?>
<script>
$('#tempAc .w-ac-toggle').click(function(e) {
    e.preventDefault();

    let $this = $(this);

    if ($this.next().hasClass('w-ac-show')) {
        $this.next().removeClass('w-ac-show');
        $this.next().slideUp(350);
    } else {
        $this.parent().parent().find('li .w-ac-inner').removeClass('w-ac-show');
        $this.parent().parent().find('li .w-ac-inner').slideUp(350);
        $this.next().toggleClass('w-ac-show');
        $this.next().slideToggle(350);
    }
});
</script>
