<?php if($isRestrictedMode && !$rules->count()) : ?>
<div class="title " style="color:grey"><i>Non disponible</i></div>
<?php else : ?>
<div class="rule-set">
    <ol>
        <?php foreach ($rules as $rule): ?>
        <?= $this->makePartial('rule', ['rule' => $rule]) ?>
        <?php endforeach ?>
    </ol>
    <?php if(!$isRestrictedMode) : ?>
    <div style="display:flex;width:100%">
        <a style="width:70%"
            href="javascript:;"
            data-control="popup"
            data-handler="<?= $this->getEventHandler('onLoadCreateRuleForm') ?>"
            class="menu-control">
                <i class="icon-plus"></i> <?= e(trans($prompt))?>
        </a>
        <a style="width:30%"
            href="javascript:;"
            data-control="popup"
            data-handler="<?= $this->getEventHandler('onLoadShareComponent') ?>"
            class="menu-control">
                <i class="icon-share-alt"></i> <?= e(trans($prompt_share))?>
            </a>
    </div>
    <?php endif ?>
</div>

<?php if (isset($newRuleId)): ?>
<script>
showRuleSettings('<?= e($newRuleId) ?>')
</script>
<?php endif ?>
<?php endif ?>
