<div class="sidebar_info">
    <?php if ($this->controller->sideBarUpdateConfig && $hasEditpermission) : ?>
    <button type="button" style="margin-left: auto;"
            class="oc-icon-pencil btn-icon success pull-right"
            data-request-data="modelId:<?=$modelId?>"
            data-control="popup"
            data-handler="onLoadSideBarUpdateForm">
    </button>
    <?php endif ?>
    <ul style="line-height:1.4em">
        <?php foreach($parsedFields as $field) {  ?>

            <li class="<?=$field['cssInfoClass']?>">
                <?=$this->makePartial('types/'.$field['type'], ['data' => $field])?>
            </li>
        <?php } ?>
    </ul>
</div>
