<?php if ($this->previewMode): ?>

<div class="form-control">
    <?= $value ?>
</div>

<?php else: ?>
<input id="<?= $this->getId('input') ?>" class=".treeVal" type="hidden" name="<?= $name ?>">
<input id="jstreeData" type="hidden" data-treeopt="<?=e(json_encode($treeOptions))?>" data-inputid="<?= $this->getId('input') ?>" name="jstree">
<div id="jstree"></div>


<?php endif ?>
<script type="text/javascript">
$(document).one('render', function() {
    let mydata = $('#jstreeData').data('treeopt')
    let inputid = $('#jstreeData').data('inputid')
    let startValue = mydata.map(item => {
            return item.text
        })
    console.log(mydata)
    $('#'+inputid).attr('value', startValue.join(','));
    $('#jstree').jstree({
        'plugins': ['search', 'checkbox', 'wholerow'],
        'core': {
            'data': mydata,
            'animation': false,
            //'expand_selected_onload': true,
            'themes': {
                'icons': false,
            }
        },
        'search': {
            'show_only_matches': true,
            'show_only_matches_children': true
        }
    })

    $('#search').on("keyup change", function() {
        $('#jstree').jstree(true).search($(this).val())
    })

    $('#clear').click(function(e) {
        $('#search').val('').change().focus()
    })

    $('#jstree').on('changed.jstree', function(e, data) {
        var objects = data.instance.get_selected(true)
        let onlyId = objects.map(item => {
            console.log()
            return item.text
        })
        $('#'+inputid).attr('value', onlyId.join(','));
    })
})

</script>
