<?php if($btns) : ?>
<div class="w-actionbar loading-indicator-container">
    <?php foreach($btns as $btn) : ?>
    <?php if($btn['btns'] ?? false) : ?>
    <?= $this->makePartial('sub/dd_btn', ['databtn' => $btn, 'popupAction' => true, 'isLot' => false, 'dropup' =>false]);?>
    <?php else : ?>
    <button href="javascript:;"
            class="btn btn-secondary <?=$btn['icon'] ?? null?>"
            data-request-data="modelId:<?=$modelId?>, modelClass:'<?=$modelClass?>'"
            data-request="<?=$btn['ajaxInlineCaller'] ??''?>">
        <?= e(trans($btn['label'] ?? 'Inc'))?>
    </button>
    <?php endif ?>
    <?php endforeach ?>
    <?php if($partials) : ?>
    <?php foreach($partials as $partial) : ?>
    <?= $this->makePartial($partial['url']);?>
    <?php endforeach ?>
    <?php endif ?>
    <?= $this->fireViewEvent('backend.top.index') ?>
</div>
<?php endif ?>
