<div class="w-actionbar">
    <!-- AFFICHE LE WORKFLOW SI ATIVE SINON LES BOUTON CLASSIQUE -->
    <?= $this->renderWorkflowOrBtn($context) ?>
    <div class="w-actionbar">
        <?php if($btns) : ?>
        <!--IL Y A DES BOUTONS -->

        <?php foreach($btns as $btn) {
            $subBtns = $btn['btns'] ?? [];
            if(count($subBtns) > 1 ) {
                //SI LE BOUTON A DES SOUS BOUTON C EST UN GROUPE -->
                echo $this->makePartial('sub/dd_btn', ['databtn' => $btn, 'popupAction' => false, 'isLot' => false, 'dropup' =>true]);
            } else { 
                if(count($subBtns) == 1 ) {
                    $btn = array_shift($subBtns);
                    //trace_log($btn);
                        //-SI LE BOUTON A UN SEUL SOUS BOUTON CONVERSION EN BTN SEUL -->
                }
        ?>
        <!--SINON C EST UN BOUTON SEUL -->
        <button href="javascript:;"
                class="btn btn-secondary <?=$btn['icon'] ?? null?>"
                data-request-data="modelId:<?=$modelId?>, modelClass:'<?=$modelClass?>'"
                data-control="popup"
                data-handler="<?=$btn['ajaxCaller'] ??''?>">
            <?= e(trans($btn['label'] ?? 'Inc'))?>
        </button>
        <?php } ?>
        <?php } ?>
        <?php endif ?>



        <?php if($partials) : ?>
        <?php foreach($partials as $partial) : ?>
        <?= $this->makePartial($partial['url']);?>
        <?php endforeach ?>
        <?php endif ?>

        <?php if(!$hasWorkflow) : ?>
        <?= $this->makePartial('sub/btn_delete');?>
        <?php endif ?>
    </div>
</div>
