<div class="w-bloc-base {{ data.opt_env_colors | default('') }} {{ data.opt_css_container }} ">
    <div class="flex items-stretch gap-2 w-full 
    {% if data.opt_i_place == 'before' %}flex-row-reverse
    {% elseif data.opt_i_place == 'upper' %}flex-col-reverse
    {% elseif data.opt_i_place == 'bottom' %}flex-col{% endif %}">
        <div class="align-middle" style="width:{% if data.image.path%}{{data.txt_size | default('50%')}}{% else %}100%{% endif%}">
            <h3 class="w-title ">{{data.title}}</h3>
            <div class="prose text-inherit  max-w-none">
                {{data.html | raw}}
            </div>
        </div>
        {% if data.image.path %} 
        <div style="width:{{data.img_size | default('50%')}}">
        <img class="
        {% if data.opt_i_cover %}object-cover{% else %} object-contain{% endif %}
        shadow-lg 
        {%if not data.image.height%}h-full{% endif %}
        {%if not data.image.height%}w-full{% endif %}"
             src="{{ data.image.path }}"
             width="{{data.image.width}}"
             height="{{data.image.height}}"
             alt="Illustration"/>
        </div>
        {% endif %}
    </div>
    <!-- <div class="hidden">
    <div class="aspect-w-16 aspect-h-9"></div>
    <div class="h-screen-50></div>
    <div class="aspect-w-16 aspect-h-10"></div>
    <div class="h-screen-25"></div>
    <div class="h-screen-75"></div>
    <div class="h-screen-80"></div>
    <div class="h-screen-90"></div>
    <div class="p-2"></div>
    <div class="p-4"></div>
    <div class="p-16"></div>
    <div class="m-2"></div>
    <div class="m-4"></div>
    <div class="m-16"></div>
    <div class="env-white"></div>
    <div class="env-primary"></div>
    <div class="env-secondary"></div>
    <div class="env-trans"></div>
    <div class="env-trans-dark"></div>
    </div> -->
</div>

