<div class="w-full h-full  flex items-center "
     style="{{ data.opt_style_container }}">
    <div class=" w-full px-2 py-1 max-h-full
    {% if data.image.path %} {% if data.opt_i_place == 'before' %} flex items-stretch gap-2 flex-row-reverse
    {% elseif data.opt_i_place == 'upper' %} flex items-stretch gap-2  flex-col-reverse
    {% elseif data.opt_i_place == 'bottom' %} flex items-stretch gap-2  flex-col{% endif %}{% endif %}">
        <div class="prose max-w-none {% if data.opt_center_content %}mx-auto text-center{% endif %} "
             style="width:{{data.txt_size | default('100%')}}">
            <div>
                {{data.html | raw}}
            </div>
        </div>
        {% if data.image.path %}
        <div style="width:{{data.img_size | default('50%')}}"
             class="{% if data.opt_center_content %}mx-auto{% endif %}">
            {% if data.img_link %}
            <a href="{{ data.img_link }}" target="{% if data.img_link_blank %}_blank{% endif%}" 
                {%if data.img_link_data_opt %}{{data.img_link_data_opt | raw }}{% endif %}>
            {% endif %}
                <img class="
                        {% if data.opt_i_cover %}object-cover{% else %} object-contain{% endif %}
                        {% if data.shadow %}shadow-lg{% endif %}
                        {% if data.opt_center_image %}mx-auto{% endif %}
                        {%if not data.image.height%}h-full{% endif %}
                        {%if not data.image.height%}w-full{% endif %}"
                     src="{{ data.image.path }}"
                     width="{{data.image.width}}"
                     height="{{data.image.height}}"
                     alt="Illustration" />

            {% if data.img_link %}
            </a>
            {% endif %}
            {% endif %}
        </div>
    </div>
