<?php if (!$noRole) : ?>
<?php if ($context == 'create') : ?>
<div>
    <?= $this->makePartial('workflow/workflow_buttons');?>
</div>
<?php elseif(count($transitions) == 1)  : ?>
<?= $this->makePartial('workflow/btn_save_icon');?>
<?= $this->makePartial('workflow/workflow_buttons');?>
<?php else : ?>
<?= $this->makePartial('workflow/btn_save_icon');?>
<?= $this->makePartial('workflow/workflow_dd_button');?>
<?php endif ?>
<?php else : ?>
<?= $this->makePartial('workflow/no_wf_role');?>
<?php endif ?>
