<li
    id="<?= 'ask'.$ask->id ?>"
    data-ask-id="<?= $ask->id ?>"
    class="ask-item <?= $ask->hasFieldConfig() ? '' : 'no-form' ?>">
    <div>
        <div class="icons">
            <span class="icon"><i class="icon-bolt"></i></span>
            <span class="icon"><i class="<?= e($ask->getAskIcon()) ?>"></i></span>
        </div>
        <a href="javascript:;" data-asks-settings>
            <span class="title"><?= e($this->getCacheAskTitle($ask)) ?></span>
            <div class="comment"><?= $this->getCacheAskText($ask) ?></div>
        </a>
        <?php if(!$isRestrictedMode) : ?>
        <ul class="submenu">
            <li>
                <p>
                    <a href="javascript:;" data-asks-delete>
                        <i class="icon-trash-o control-icon"></i>
                    </a>
                </p>
            </li>
        </ul>
        <?php endif ?>
    </div>

    <input
           type="hidden"
           name="ask_data[<?= $ask->id ?>]"
           value="<?= e(json_encode($this->getCacheAskData($ask))) ?>" />
</li>
